#body{
    background-color: goldenrod;
    color: lime;
}
#copy_right_footer{
    font-family: 'Times New Roman', Times, serif;
}
#h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}